*.exe
*.tlog
*.sln
*.sdf
*.pdb
*.suo
*.pch
*.log
*.obj
*.lastbuildstate
*.idb
*.vcxproj
*.filters
*.user
*.ilk
*.db
*.enc
*.gch
*.ipch


ATA 102/
BIL 105E (2)/
BIL 105E (C)/
BLG 111 (Poster)/
BLG 112E (Discrete Math)/
BLG 202E (Numerical Methods)/
BLG 212E (Microprocessor)/
BLG 222E (Computer Org.)/
BLG 231E (Digital Cir.)/
BLG 233E (Data Structures)/
BLG 242E (Logic Cir. Lab)/
BLG 252E (OOP)/
BLG 311E (2)/
BLG 311E (Formal Languages)/
BLG 312E (Operating System)/
BLG 322E (Computer Arch.)/
BLG 335E (Algorithm I)/
BLG 336E (Algorithm II))/
BLG 351 (Microp. Lab)/
BLG 354E (Signal & System)/
BLG 361 (Database Man.)/
BLG 368E (Yöneylem)/
BLG 374E (Tech. Com.)/
BLG 411E (Software Eng.)/
BLG 412 (Etik)/
BLG 413E (System Prog.)/
BLG 433E (Computer Communication)/
BLG 439E (Comp. Project I)/
BLG 450E (Real-Time Sys.)/
BLG 454E (Learning Form Data)/
BLG 458E (Functional Programming)/
BLG 475E (Soft. Quality&Test)/
BLG 492 (Graduation Project)/
EHB 211(EDT)/
EHB SED/
EKO 201/
HUK 203E (IT Law)/
ING 102/
ING 103C/
ING 201/
MAT 271E (2)/
MAT 271E (Olasılık)/
MAT 281E (Liner Cebir)/
TUR 102/